@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.login-component{
    font-family: 'Raleway', sans-serif;
    background-image: url(./pexels-rovenimagescom-949587.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}